:root {
    --button-clr: #4D5AE5;
    --hover-focus-clr: #404BBF;
    --common-text-clr: #434455;
    --headline-clr: #2E2F42;
    --light-backgrounds-clr: #F4F4FD;
    --accent-and-footer-text-clr: #E7E9FC;
    --common-white-color: #FFFFFF;
}


/* Common style settings */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--common-text-clr);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/* Logo settings */

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
}

.logo-left {
    color: var(--button-clr);
}

.logo-right-header {
    color: var(--headline-clr);
}

.logo-right-footer {
    color: var(--light-backgrounds-clr);
}


/* Navigation and contacts settings */

.navigation-link {
    font-weight: 500;
    color: var(--headline-clr);
}

.contact-link {
    color: inherit;
    font-style: normal;
}

.navigation-link:hover,
.navigation-link:focus,
.contact-link:hover,
.contact-link:focus,
.navigation-link.current-page {
    color: var(--hover-focus-clr);
}

.header-line {
    border: 1px solid var(--accent-and-footer-text-clr);
}


/* Button settings */

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.order-service-button {
    background: var(--button-clr);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--common-white-color);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: var(--hover-focus-clr);
}

.filter-button {
    background-color: var(--light-backgrounds-clr);
    border: 1px solid var(--accent-and-footer-text-clr);
    color: var(--button-clr);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--hover-focus-clr);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--common-white-color);
}


/* Main headline settings */

.main-headline {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: var(--common-white-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* Sections settings */

.order-section,
.footer-section {
    background-color: var(--headline-clr);
}

.footer-text {
    color: var(--accent-and-footer-text-clr);
}

.section-headline {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: var(--headline-clr);
}

.hero-section {
    background-color: var(--light-backgrounds-clr);
}


/* Cards settings */

.hero-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--common-white-color);
}

.product-card {
    border: 1px solid var(--accent-and-footer-text-clr);
}

.card-headline {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--headline-clr);
}

.card-text {
    color: var(--common-text-clr);
}